.container {
  width: 70vw;
  margin: auto;
}
.wrapper {
  display: block;
  height: 400px;
  overflow: auto;
}
.nav {
  display: flex;
  gap: 10px;
  & a {
    font-weight: bolder;
  }
}
.inlineflex {
  display: inline-flex;
  width: 100%;
}
.tableWrapper {
  flex: 1;
}
.chartwrapper {
  flex: 1;
}